.CreateContainer{
    width: 100vw;
    height: 100vh;
    background: rgb(38, 38, 38);
    padding: 10px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}
.CreateContainer *{
    margin: 5px;
    width: fit-content;
    padding: 5px;
}
.CreateContainer button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .CreateContainer :hover {
    border-color: gray;
  }
  .CreateContainer :focus,
  .CreateContainer :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }