.profile-settings {
  width: 60%;
  margin: 10px auto;
  margin-top: 50px;
  padding: 10px;
}
.profile-settings input,
.profile-settings #email {
  width: 100%;
  font-size: x-large;
  padding: 0 10px 15px 10px;
  margin: 5px;
}
.profile-settings input:focus {
  border-bottom: 2px solid rgba(99, 105, 232, 1);
  outline: none;
}
.profile-settings .button {
  width: fit-content;
  margin: 5px auto;
}
.profile-settings .delete {
  background-color: red;
}
.profile-settings .delete:hover {
  background-color: rgb(144, 6, 6);
}
